html {
  font-family: sans-serif;
}

body {
  text-align: center;
}

.cool-box {
  background-color:red;
  margin-left:20%;
  margin-right:20%;
  padding: 20px;
  font-size: 34px;
  border: 2px solid black;
  border-radius: 15px;
}
